<h1>Posts</h1>


<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>Comments</h2>
<% @article.comments.each do |comment| %>
<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment</strong>
  <%= comment.body %>
</p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with(model: [ @article, @article.comments.build], local: true) do |form| %>

<div class="field form-group">
<%= form.label :commenter %><br>
<div class="col-sm-10">
<%= form.text_field :commenter %>
 </div>
</div>

<div class="field form-group">
  <%= form.label :body %><br>
    <div class="col-sm-10">
  <%= form.text_area :body %>
  </div>
</div>

<div class="actions form-group">
  <div class="col-sm-offset-2 col-sm-10">
  <%= form.submit %>
   </div>
</div>

<% end %>

<%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-success' %>
<%= link_to "Back", articles_path, class: 'btn btn-success' %>
<%= link_to "Home", welcome_index_path, class: 'btn btn-success' %>
